.contact-element{
	padding:1em 0;
}


h3{
	background:#ddd;
	padding:1em;
}

#contact-details address{
	background:#eee;padding:1em
}


textarea{
	font-family: Helvetica;
	width:98%;
	height:150px;
}

#error-msg{ color:red;}
#success{ color:green;}

#error-msg, #success{
	opacity:0;
	transition:all 1s;
}
