/*
  The grid is composed by 12 cells or columns, the width of the cell is calculated as
  percentage 100/12 = 8.333333333.
  Every columns is a floating eement, this allows the grid to be compatible with
  older browsers.
*/

[class*='col-'] {
  float: left;    
  display: block;
  position:relative;
}

.col-1 {
  width: 8.333333333%;
}

.col-2 {
  width: 16.66666666%;
}

.col-3 {
  width: 24.99999999%;
}

.col-4 {
  width: 33.333333332%;
}

.col-5 {
  width: 41.666666665%;
}

.col-6 {
  width: 49.999999998%;
}

.col-7 {
  width: 58.333333331%;
}

.col-8 {
  width: 66.666666664%;
}

.col-9 {
  width: 74.999999997%;
}

.col-10 {
  width: 83.333333333%;
}

.col-11 {
  width: 91.666666663%;
}

.col-12{
  width: 100%; 
}

/* 
  the row elements clear the float on both sides acting as a separator
*/
.row{	
	overflow:hidden;
	display: block;
	position:relative;
	width:100%;
	clear: both;
  margin-bottom: 1em;
}

.box{
  position:relative;
  padding:0.5em;
  overflow:hidden;
}


#wrapper-960{    
  background:white;
  max-width:960px;
  margin:auto;
  padding:1em;  
}

#wrapper-960 .fluid{
  max-width:100%!important;
}


/* 
  Here we define the rules for the mobile grid, if specified is possible 
  to use a 4 columns grid in mobile version
*/

@media (max-width:680px){
  [class*='col-sm-'] {
    float: left;    
    display: block;
    position:relative;
  }

  .col-sm-1{
    float:left;
    width:25%!important
  }
  .col-sm-2{
    float:left;
    width:50%!important
  }
  .col-sm-3{
    float:left;
    width:75%!important
  }
  .col-sm-4{
    float:left;
    width:100%!important
  }
}